<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Document Title -->
    <title>Nextbyte - <%= title %></title>

    <meta
      name="description"
      content="Nextbyte terbentuk oleh kepercayaan bahwa semua orang bisa belajar programming. Tujuan kami adalah kesuksesan dan masa depan murid."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% include ./partials/head %>
  </head>

  <body>
    <!-- Preloader -->
    <div class="preLoader">
      <div class="preload-img">
        <img src="img/favicon.png" alt="favicon" class="pre-img" />
      </div>
    </div>
    <!-- End Of Preloader -->

    <% include ./partials/navbar %>

    <!-- page title wrap-->
    <section
      class="page-title-inner banner overlay6 home2-vs1-bg"
      data-bg-img="https://www.digitalcrafts.com/img/houston-coding-boot-camp.jpg"
    >
      <div class="page-title-wrap crypto-patern">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col">
              <!-- page title inner -->
              <div
                class="page-title text-center"
                data-animate="fadeInUp"
                data-delay="1.05"
              >
                <h1 class="about-page-banner">Tentang Bootcamp Kami</h1>
                <ul class="nav m-0 justify-content-center">
                  <li><a class="about-a" href="/">Home</a></li>
                  <li><a class="about-a" href="#">About Us</a></li>
                </ul>
              </div>
              <!-- End of page title inner -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of page title -->

    <!--about our company -->
    <section class="pt-130">
      <div data-animate="fadeInLeft" data-delay="1.5" class="container">
        <div class="row">
          <div class="col-md-6 col-lg-5">
            <!-- section title -->
            <div class="section-title type4 mb-30">
              <span class="dosis about-page-subtitle">Tentang Kami</span>
              <h2 class="about-page-title">
                Kami Mewujudkan Mimpimu Menjadi Kenyataan
              </h2>
            </div>
            <!-- End of section title -->

            <!-- about our company -->
            <div class="about-our-company">
              <p>
                Nextbyte terbentuk oleh kepercayaan bahwa semua orang bisa
                belajar programming.
              </p>
              <p>
                Adalah sebuah lembaga kursus 'semi coding bootcamp' yang
                bertujuan membantu kamu untuk menjadi programmer yang
                professional, yang siap kerja dan bisa beradapatasi dengan
                industri digital. Di Nextbyte, Kami akan membantu kamu untuk
                menemukan jati diri kamu di industri digital, sehingga kamu bisa
                lebih fokus dan passionate dalam menjalani peran mereka
                masing-masing di industri digital.
              </p>
              <!-- <a href="#" class="btn btn-transparent waves-effect style-4"
                >Get Started</a
              > -->
            </div>
            <!-- End of about our company -->
          </div>
          <div class="col-lg-5 offset-lg-2 col-md-6">
            <!-- our company image -->
            <div class="our-company-img">
              <img
                src="img/about-company.png"
                alt="About our company"
                data-rjs="2"
              />
            </div>
            <!-- End of our company image -->
          </div>
        </div>
      </div>
    </section>
    <!--End of about our cumpany -->

    <!-- company goal-->
    <section class="pt-130 pb-130 common-sec-bg">
      <div data-animate="fadeInRight" data-delay=".80" class="container">
        <div class="row align-items-center">
          <div class="col-md-5">
            <!-- company goal image -->
            <div class="company-goal-img">
              <img src="img/about-next.png" alt="Company Goal" data-rjs="2" />
            </div>
            <!-- End of company goal image -->
          </div>
          <div class="col-md-5 offset-md-2">
            <!-- company goal text -->
            <div class="company-goal-wrap">
              <!-- section title -->
              <div class="section-title type4 mb-30 animated fadeInUp">
                <span class="dosis about-page-subtitle">Visi & Misi Kami</span>
                <h2 class="about-page-title">
                  Tujuan Kami adalah Kesuksesan & Masa Depan Kamu
                </h2>
                <p>
                  Sebagai bagian dari komitmen untuk pendidikan yang mudah untuk
                  diraih dan terjangkau. kami fokus pada pengembangan program
                  dan opsi pembiayaan untuk memastikan bahwa siswa memiliki
                  sarana dan sistem pendukung yang perlu mereka pelajari di
                  Nextbyte. Kami bekerja dengan pengusaha dan penyedia
                  pembiayaan untuk membantu menutupi biaya pendidikan.
                </p>
              </div>
              <!-- End of section title -->
              <div class="company-goal-list">
                <ul class="list-unstyled">
                  <li>
                    <span><i class="fa fa-dot-circle-o"></i></span>
                    <p>
                      In-House or On-Site Training
                    </p>
                  </li>
                  <li>
                    <span><i class="fa fa-dot-circle-o"></i></span>
                    <p>
                      Range of Technical Topics
                    </p>
                  </li>
                  <li>
                    <span><i class="fa fa-dot-circle-o"></i></span>
                    <p>
                      Customized Curriculum
                    </p>
                  </li>
                  <li>
                    <span><i class="fa fa-dot-circle-o"></i></span>
                    <p>
                      Timing to Suit Your Team
                    </p>
                  </li>
                </ul>
                <!-- <a href="#" class="btn btn-transparent waves-effect style-4"
                  >Get Started</a
                > -->
              </div>
            </div>
            <!-- End of company goal text -->
          </div>
        </div>
      </div>
    </section>
    <!-- End of What we get -->

    <!-- Our Team Section -->
    <section data-animate="fadeInUp" data-delay=".80" class="pt-130 pb-70">
      <div class="container">
        <div class="row heading">
          <div class="col-md-12 col-md-offset-8">
            <h2 class="text-center bottom-line">Meet Our Team</h2>
            <p class="subheading text-center">Creative Squad</p>
          </div>
        </div>

        <div class="row team-row">
          <% for(var i = 0; i < data[0].length ; i++ ) { %>
          <!-- <% if (i%2 === 0) { %>
        <div class="row team-row">
      <% } %> -->
          <div class="mt-4 col-xl-4 col-lg-6 col-sm-12 team-wrap">
            <div class="team-member text-center">
              <div class="team-img">
                <img
                  src="<%= data[0][i].avatar %>"
                  alt="<%= data[0][i].name %>"
                />
                <div class="overlay">
                  <div class="team-details">
                    <text>
                      <%= data[0][i].content %>
                    </text>
                    <div class="socials">
                      <a href="#"><i class="fab fa-facebook"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-linkedin"></i></a>
                      <a href="#"><i class="fa fa-envelope"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <h6 class="team-title"><%= data[0][i].name %></h6>
              <span><%= data[0][i].job_position %></span>
            </div>
          </div>
          <!-- end team member -->

          <% } %>
        </div>
      </div>
    </section>
    <!-- End of our team section -->

    <% include ./partials/footer %> <% include ./partials/script %>
  </body>
</html>
