<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head %>
  <body>
    <!-- Preloader -->
    <div class="preLoader">
      <div class="preload-img">
        <img src="img/favicon.png" alt="" class="pre-img" />
      </div>
    </div>
    <!-- End Of Preloader -->

    <% include ./partials/navbar %>

    <!-- page title wrap-->
    <section
      class="page-title-inner banner overlay6 home2-vs1-bg"
      data-bg-img="https://www.digitalcrafts.com/img/houston-coding-boot-camp.jpg"
    >
      <div class="page-title-wrap crypto-patern">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col">
              <!-- page title inner -->
              <div
                class="page-title text-center"
                data-animate="fadeInUp"
                data-delay="1.05"
              >
                <h1 class="about-page-banner">Frequently Asked Questions</h1>
                <ul class="nav m-0 justify-content-center">
                  <li><a href="/">Home</a></li>
                  <li><a href="#">FAQ</a></li>
                </ul>
              </div>
              <!-- End of page title inner -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End of page title -->

    <!-- faq area type3-->
    <section class="pt-130 pb-130 vpn-patern">
      <div class="container" data-animate="fadeInUp" data-delay="1.05">
        <div class="row justify-content-center">
          <div class="col-xl-12 col-lg-8">
            <!-- section title -->
            <div class="section-title text-center mb-30">
              <h2 class="about-page-title">Frequently Asked Questions</h2>
              <div class="underline-wrap">
                <div class="unerline">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
            <!-- End of section title -->
          </div>
        </div>

        <!-- faq type2 -->
        <div class="row">
          <div class="col-md-12">
            <div class="single-faq-wrap type3">
              <div class="accordion" id="Faq-1">
                <!-- single faq wrap -->
                <% for(var i = 0; i < data[0].length; i++) { %>
                <!-- single faq -->
                <div class="single-faq">
                  <!-- faq head -->
                  <h3
                    class="h6"
                    data-toggle="collapse"
                    data-target="#accordionFaq-1-item-<%= i %>"
                    aria-controls="accordionFaq-1-item-1"
                  >
                    <span class="poppins about-page-title big-word">Q.</span>
                    <%= data[0][i].question %>
                  </h3>
                  <div
                    id="accordionFaq-1-item-<%= i %>"
                    class="collapse"
                    data-parent="#Faq-1"
                  >
                    <!--End of faq head -->
                    <div class="faq-answer">
                      <!-- faq body -->
                      <% if(data[0][i].type === 0) { %>
                      <p>
                        <%= data[0][i].answer %>
                      </p>
                      <% }else { %> <% for(var j=0; j <
                      data[0][i].answer.length; j++ ) { %>
                      <p>
                        <%= data[0][i].answer[j] %>
                      </p>
                      <% } %> <% } %>
                    </div>
                  </div>
                  <!--End of faq body -->
                </div>
                <!--End of single faq -->
                <% } %>
              </div>
            </div>
          </div>
        </div>
        <!--End of faq type 2 -->
      </div>
    </section>
    <!-- End of faq area type3 -->

    <% include ./partials/footer %> <% include ./partials/script %>
  </body>
</html>
